%h2 Expressions:

%p
  Addition:
  = 1 + 2

%p
  Concatenation:
  = 'cow' + 'boy'

%p
  Time in one hour:
  = 1.hour.from_now.localtime

%h2 Files:

%p
  Files in current working directory:
  = "`#{Dir.pwd}`"

%ul
  - @files.each do |file|
    %li= "File name is: #{file}"
